{% extends 'base.html.twig' %}

{% block title %}Nouveau bien{% endblock %}

{% block body %}
    <h1>Ajoutez un nouveau couette & café</h1>

    {{ include('room/_form.html.twig') }}

    <a href="{{ path('room_index') }}">Revenir à la liste des couette & café.</a>
{% endblock %}
