{% extends 'base.html.twig' %}

{% block title %}Nouveau client{% endblock %}

{% block body %}
    <h1>Création d'un profil client</h1>

    {{ include('client/_form.html.twig', {'button_label': 'Créer'}) }}

    {# <a href="{{ path('client_index') }}">back to list</a> #}
{% endblock %}
