{% extends 'base.html.twig' %}

{% block title %}Nouveau propriétaire{% endblock %}

{% block body %}
    <h1>Création d'un profil propriétaire</h1>

    {{ include('owner/_form.html.twig', {'button_label': 'Créer'}) }}

    {# <a href="{{ path('owner_index') }}">back to list</a> #}
{% endblock %}
