{% extends 'base.html.twig' %}

{% block title %}Nouvelle région{% endblock %}

{% block body %}
    <h1>Créer une nouvelle région</h1>

    {{ include('region/_form.html.twig') }}

    <a href="{{ path('region_index') }}">Retour à la liste des régions </a>
{% endblock %}
